* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {

    background-color: black;
}

/* reset rules */

/* grid */
#grid {
    width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container {
    margin: 0 auto;
    padding-top: 100px;
    max-width: 1000px;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 142px;
    height: 142px;
    padding: 1px;
    outline: 1px solid blue;
    outline-offset: -5px;


}

.clicked {
    background-color: rgb(76, 76, 206);
}

.squareMedium {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 111px;
    height: 111px;

    padding: 1px;
    outline: 1px solid blue;
    outline-offset: -5px;
}

.squareHard {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;

    padding: 1px;
    outline: 1px solid blue;
    outline-offset: -5px;
}